--extra-index-url https://download.pytorch.org/whl/cu124 # change if needed
torch
torchvision
torchaudio
torchtune
torchao

pandas
numpy
pyarrow
matplotlib
scikit-learn==1.5.2
tqdm
optuna
jupyter
lightning

# model for time-series prediction
xgboost==2.1.3
pmdarima